@import url("https://fonts.googleapis.com/css?family=Nosifer");
body {
  background: #e2e1e0;
  border: none; }

canvas {
  position: absolute;
  z-index: 10000; }

.slide {
  overflow: scroll;
  background: #f857a6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, red, black);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, red, black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none; }

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128; }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914; } }
.creepy {
  font-family: 'Nosifer', cursive;
  color: red; }

@-webkit-keyframes typing {
  from {
    width: 0; } }
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }
@keyframes typing {
  from {
    width: 0; } }
@keyframes blink-caret {
  50% {
    border-color: transparent; } }
.text {
  transform: rotate(-22.5deg) skew(-22.5deg); }

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite; }

.card {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  color: black; }

.slide::after {
  color: white;
  border: none;
  border-width: 3px;
  background: rgba(255, 255, 255, 0.1);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 2.5px;
  margin: 20px;
  bottom: 0;
  left: 0;
  animation: fade;
  position: fixed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.slide6 {
  background: #AA076B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045F, #AA076B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.slide7 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); }

.slide8 {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); }

.slide6.active {
  animation: six;
  animation-duration: 1s;
  animation-timing-function: ease; }

.slide7.active {
  animation: seven;
  animation-duration: 1s;
  animation-timing-function: ease; }

.slide8.active {
  animation: eight;
  animation-duration: 1s;
  animation-timing-function: ease; }

@keyframes six {
  0% {
    transform: rotate(360deg);
    top: -100%;
    opacity: 0; }
  100% {
    transform: rotate(0deg);
    top: 0;
    opacity: 1; } }
@keyframes seven {
  0% {
    transform: scale(0, 0);
    top: 100%;
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    top: 0;
    opacity: 1; } }
@keyframes eight {
  0% {
    transform: scale(1, 0);
    left: 100%;
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    left: 0;
    opacity: 1; } }
@keyframes fade {
  0% {
    background: rgba(255, 255, 255, 0.3); }
  50% {
    background: rgba(255, 255, 255, 0.05); }
  100% {
    background: rgba(255, 255, 255, 0.3); } }
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

#cover h2 {
  margin: 30px 0 0;
  color: #FFF;
  text-align: center;
  font-size: 70px; }

h2, h3 {
  text-align: center;
  color: white; }

.cover {
  filter: brightness(0.5); }

.caption {
  background-image: url("pictures/cover.jpg");
  background-size: cover;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0; }

#cover p {
  margin: 10px 0 0;
  text-align: center;
  color: #FFF;
  font-style: italic;
  font-size: 20px; }

#cover p a {
  color: #FFF; }

.note {
  text-align: center; }

.slide h2 {
  color: white; }

p.notee {
  color: white; }

.slide1.active {
  animation: c;
  animation-duration: 1s;
  animation-timing-function: ease; }

.slide2.active {
  top: 0;
  animation-timing-function: ease;
  animation: two;
  animation-duration: 1s; }

.slide3.active {
  top: 0;
  animation-timing-function: ease;
  animation: three;
  animation-duration: 1s; }

.slide4.active {
  top: 0;
  animation: four;
  animation-duration: 1s;
  animation-timing-function: ease; }

.slide5.active {
  top: 0;
  animation-timing-function: ease;
  animation: five;
  animation-duration: 1s; }

.slide22.active {
  animation: b 1s ease both; }

@keyframes two {
  0% {
    left: -100%;
    width: 0px; }
  100% {
    left: 0px;
    width: 100%; } }
@keyframes three {
  0% {
    top: -100%;
    height: 0px; }
  100% {
    top: 0px;
    height: 100%; } }
@keyframes c {
  0% {
    top: -100%;
    height: 0px; }
  100% {
    top: 0px;
    height: 100%; } }
@keyframes four {
  0% {
    top: -100%;
    height: 0px;
    width: 0px;
    opacity: 0; }
  50% {
    top: 50%;
    height: 100%;
    width: 50%;
    opacity: .5; }
  100% {
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 1; } }
@keyframes five {
  0% {
    left: -100%;
    width: 0px;
    height: 0px;
    opacity: 0; }
  50% {
    left: 50%;
    width: 100%;
    height: 50%;
    opacity: .5; }
  100% {
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1; } }
/* Generated with Bounce.js. Edit at https://goo.gl/jLJr4e */
/* Generated with Bounce.js. Edit at https://goo.gl/HgSYUU */
@keyframes b {
  0% {
    top: -100%;
    opacity: 0;
    transform: rotate(180deg); }
  100% {
    top: 0%;
    opacity: 1;
    transform: rotate(0deg); } }
.progress {
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.slide3 {
  background: #24C6DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.slide4 {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.slide2 {
  background: #4776E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.slide22 {
  background: #EB3349;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.imagegrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.imagegrid > img {
  margin-bottom: 20px; }

/*# sourceMappingURL=index.css.map */
